# Eclipse
.project
.classpath
.settings/

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Maven
target/

# Arquillian Liferay portal
arquillian-liferay-bundle/

#Gradle
.gradle

# TestNG
test-output/

# JBoss AS
transaction.log
